@font-face {
  font-family: "iconfont"; /* Project id 4164838 */
  src: url('iconfont.woff2?t=1689219500495') format('woff2'),
       url('iconfont.woff?t=1689219500495') format('woff'),
       url('iconfont.ttf?t=1689219500495') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e62a";
}

.icon-aixin1:before {
  content: "\e6ad";
}

.icon-laoren:before {
  content: "\100e8";
}

.icon-zhigongketang:before {
  content: "\e608";
}

.icon-huihuilicaishi:before {
  content: "\e6f2";
}

.icon-icon-test:before {
  content: "\e605";
}

.icon-kehujinglishouye:before {
  content: "\e630";
}

.icon-zhiyuanzhehuodong:before {
  content: "\e611";
}

.icon-wangzhantubiaoji2_huaban1fuben11:before {
  content: "\e607";
}

